@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;

.response {
    &__radio {
        transform: scale(1.2);
        accent-color: c.$blueSecondary;
    }

    &__label {
        margin-left: 0.4rem;
    }

    &__option {
        margin-bottom: 0.8rem;
    }

    &__textarea {
        @include v.textArea(10rem);
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__gray {
        display: block;
        color: c.$gray;
        margin-top: 0.4rem
    }

    &__number {
        @include v.inputArea(12rem);
    }

    &__date {
        @include v.inputArea(12rem);
    }
}