@use "../../variables/_colors.scss" as c;
@use "../../variables/variables" as v;

.question {
    width: 100%;
    height: 100%;
}

.participant {
    &__cont {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 4rem);
        width: 100%;
        padding: 3rem 5rem;

        &--alt {
            padding: 3rem 5rem 0 5rem;
        }
    }
}

.question {
    &__cont {
        width: 100%;
        height: 100%;

        &--top {
            display: flex;
            flex: 1;
            height: 75%;
        }

        &--btm {
            border: v.$borderSolid;
            flex: 2;
            height: 25%;
            padding: 1rem 0;
        }
    }

    &__headline {
        margin-bottom: 0.8rem;
    }

    &__panel {
        width: 50%;

        &--left {
            border-right: v.$borderSolid;
            padding: 1.5rem 2.5rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
}

.artifact {
    &__expand {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 16 / 9;

        &--img, &--video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &--embed {
            width: 100%;
            height: 100%;
        }

        &--audio {
            display: block;
            width: 80%;
        } 
    }
}

.drop_zone {
    width: 100%;
    position: relative;
}

.drop{
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-top: v.$borderSolid;
        padding: 0.5rem;
    }
    &_box{
        flex: 0 0 10rem;
        position: relative;
        height: 12rem;
        width: 10rem;
        padding: 0;
    }
    &_text{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        background-color: rgb(235, 235, 235);
    }
}

.drop_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 9rem;
    width: 100%;
    left: 0;
    top: 2.5rem;

    &--linear{
        height: 100%;
        top: 0;
    }
}

.embed__handle {
    width: 100%;
    height: 100%;
    position: absolute;
}
