@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;

.container {
    display: flex;
}

button{
    cursor: pointer;
}


// need to be fixed later zzz
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 1rem;
        row-gap: 2rem;
        grid-auto-rows: auto;
    }

    &__headline {
        margin-bottom: 1.4rem;
    }

    &__paragraph{

    }
    &__button{
        border: none;
        background-color: transparent;
        color: c.$blueSecondary-active;
        text-decoration: underline;
        transition: color 0.15s ease-in-out;

        &:hover{
            color: c.$blueSecondary-hover;
        }
        &:active{
            color: c.$blueSecondary;
        }
    }
}


.aside {
    // let it reach the bottom of the size using the full view height - height of header
    min-height: calc(100vh - 4rem);
    height: 100%;
    border-right: v.$borderSolid;
    width: clamp(14rem, 10rem + 8vw, 20rem);

    &__container {
        display: flex;
        flex-flow: column;
        justify-content: center;

        &--small {
            border-top: v.$borderSolid;
        }

        &:first-child {
            padding-bottom: 1rem;
        }

        &:last-child {
            padding-top: 1rem;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        // width: clamp(14rem, calc(10rem + 6vw), 18rem);
        padding: 1.2rem 2rem;
        background-color: transparent;
        border: none;

        &:hover {
            background-color: c.$white-active;
            cursor: pointer;
        }
    }
}