@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;

.participant {
    &__title {
        margin-bottom: 1.2rem;
    }
    &__cont {
        display: flex;
        min-height: calc(100vh - 4rem);
        padding: 3.2rem 3rem;
    }

    &__section {
        margin-bottom: 1.6rem;
        border: v.$borderSolid;
        border-radius: 0.5rem;
        padding: 1.4rem 1.2rem;
        width: 50rem;
    }
}
