@use '../../variables/_colors.scss' as c;

.study {
    cursor: pointer;

    &__plus {
        height: 1.4rem;
        width: 1.4rem;
    }

    &__new {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        &:hover svg {
            opacity: 0.8;
        }
    }

    &__filter {
        display: flex;
        align-items: center;

        &--active {
            background-color: c.$blue-sidebar !important;
        }
    }

    &__new, &__filter {
        // width: clamp(14rem, calc(10rem + 8vw), 18rem);
        width: 100%;
        padding: 1rem 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: c.$white-active;
        }
    }
}
