.study__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  padding: 2.4rem 2.2rem;
}
.study__main {
  width: 100%;
}
.study__headline {
  margin-bottom: 1.4rem;
}
.study__header {
  display: flex;
  flex-direction: column;
}
.study__input {
  margin-bottom: 3rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: solid #CCCCCC 1px;
  border-color: #CCCCCC;
  transition: all 0.3s ease-out;
  letter-spacing: 0.02rem;
}
.study__input:focus, .study__input:active {
  border-color: #54C0D1;
}

.wrapper {
  position: absolute;
  display: flex;
  right: -1px;
  top: -1px;
}
.wrapper__button {
  width: 2rem;
  height: 2rem;
  padding: 0.125rem;
  background-color: white;
  border: solid #CCCCCC 1px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.wrapper__button--radius {
  border-radius: 0 0.5rem 0 0;
}
.wrapper__icon {
  height: 90%;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
}

.expand {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: clamp(20rem, 100vw, 65rem);
  padding: 2.5rem 0.25rem 0.125rem;
  background-color: white;
  border: solid #CCCCCC 1px;
  z-index: 1;
  border-radius: 0.5rem;
}
.expand__img {
  width: 100%;
  border-radius: 0.25rem;
}
.expand__embed {
  width: 100%;
  border-radius: 0.25rem;
  height: 45rem;
}
.expand__audio {
  display: block;
  height: 8rem;
  width: 100%;
}
.expand__button {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  height: 2rem;
  color: white;
  background-color: #E61046;
  border: none;
  padding: 0 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.expand__button:hover {
  background-color: #f8cece;
}

.artifact {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 1rem;
}
.artifact__container {
  border: solid #CCCCCC 1px;
  flex: 1 0 19%;
  min-width: 9rem;
  max-width: 12rem;
  border-radius: 0.5rem;
  position: relative;
}
.artifact__container--square {
  aspect-ratio: 1/1;
  display: block;
  overflow: hidden;
}
.artifact__headline {
  flex: 1 0 100%;
  margin-bottom: 1.4rem;
}
.artifact__headline::after {
  content: "";
  border-bottom: solid #CCCCCC 1px;
  width: 100%;
  display: block;
  margin-top: 0.8rem;
}
.artifact__add {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid #CCCCCC 1px;
  cursor: pointer;
}
.artifact__image, .artifact__video {
  border-bottom: solid #CCCCCC 1px;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.artifact__video {
  pointer-events: none;
}
.artifact__icon {
  border-bottom: solid #CCCCCC 1px;
  border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
  width: 100%;
  padding: 30%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.artifact__input {
  width: 100%;
  text-overflow: ellipsis;
}
.artifact__plus {
  width: 100%;
  padding: 3rem;
}
.artifact__footer {
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  width: 100%;
}
.artifact__footer--hidden {
  display: none;
}
.artifact__row {
  width: 100%;
  padding: 0 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  border: solid #CCCCCC 1px;
  border-radius: calc(0.5rem - 4px);
}
.artifact__label {
  width: 1.5rem;
  display: inline-block;
}
.artifact__input--small {
  height: 2rem;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 0.25rem;
  width: calc(100% - 3rem);
  outline: none;
}
.artifact__info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: solid #CCCCCC 1px;
  right: 0.5rem;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
.artifact__absolute {
  position: absolute;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: solid #CCCCCC 1px;
  bottom: 100%;
  left: 100%;
  z-index: 1;
  transform: translateX(-50%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.artifact__id {
  position: absolute;
  width: 15rem;
  word-break: break-all;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  border: solid #CCCCCC 1px;
  bottom: 100%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  animation: animateId 1s ease-in-out forwards;
}
.artifact__button {
  width: calc(100% - 1rem);
  margin: 0 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  background-color: #4c68f0;
  color: white;
  transition: background-color 0.1s ease-in-out;
}

@keyframes animateId {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=study-main.css.map */