@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;
@use '../../variables/fonts' as f;

.aside {
    @include v.right-area;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        border: none;
        border-bottom: v.$borderSolid;
        margin: 0;
        min-width: 0;
        gap: 0.4rem;

        &--borderless {
            border: none;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        &--toggle {
            margin-top: 0.8rem;
        }
    }

    &__selection {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;

        &--spaced {
            margin-bottom: 0.8rem;
        }

        &--nested {
            gap: 0.4rem;
            margin-left: 2rem;
        }
    }

    &__headline {
        letter-spacing: 0.02rem;
        margin-bottom: 0.8rem;
    }

    &__textarea {
        @include v.textArea(4rem);
    }

    &__select {
        resize: none;
        outline: none;
        width: 8rem;
        height: 2.4rem;
        border: v.$borderSolid;
        border-radius: 5px;
        padding: 0.5rem;
        cursor: pointer;
        
        &:hover {
            border: c.$gray 1px solid;
        }

        &:focus {
            background-color: c.$white-active;
        }
    }

    &__input {
        @include v.inputArea(8.8rem);
        height: 2rem;

        &--number {
            @include v.inputArea(4.4rem);
            cursor: pointer;
        }
    
        &--wide {
            @include v.inputArea(12rem);
        }
    }

    &__paragraph {
        line-height: 1.5;
        margin-bottom: 0.8rem;
    }

    &__label--headline {
        font-family: f.$kumbh-sans;
        // margin: 0.25rem 0;
    }

    &__checkbox, &__radio {
        transform: scale(1.5); 
        // uh look at this later
        border-width: 1px;
        border: v.$borderSolid;
        accent-color: c.$bluePrimary;
        color: white;
        cursor: pointer;

        &:hover {
            accent-color: c.$bluePrimary-hover;
        }

        &:active {
            accent-color: c.$bluePrimary-active;
        }
    }

    &__button {
        cursor: pointer;
        border-radius: 0.5rem;
        border: none;
        background: none;

        &--delete {
            padding: 0.5rem 1rem;
            color: c.$white;
            width: 16rem;
            border: 2px c.$red solid;
            color: c.$red;

            &:hover {
                background-color: rgba(154, 154, 154, 0.1);
            }
        }
        
        &--add {
            padding: 0.5rem 1rem;
            margin-top: 0.8rem;
            background-color: c.$bluePrimary;
            color: c.$white;

            &:hover {
                background-color: c.$bluePrimary-hover;
            }

            &:active {
                background-color: c.$bluePrimary-active;
            }
        }

        &--remove {
            margin-left: 0.5rem;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;

        &:first-of-type {
            margin-top: 0.5rem;
        }
    }

    &__cross {
        fill: c.$gray;
    }

    &__identifier {
        align-content: center;
        display: flex;
        width: 1.8rem;
    }

    &__box {
        margin-right: 0.8rem;
    }

    &__fieldset {
        border: none;
        padding: 0;
        margin: 0;
        min-width: 0;
        display: flex;
        gap: 0.4rem;
        flex-direction: column;
    }

    &__date_select {
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        gap: 0.4rem;
    }

    &__bottom {
        padding-top: 0;
    }
}

.input {
    &__invalid {
        outline: 2.5px solid c.$red;
        border: none;

        &:hover, 
        &:focus, 
        &:active {
            outline: 2.5px solid c.$red;
            border: none;
        }
    }
}