@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;
@use '../../variables/fonts' as f;

.aside {
    @include v.right-area;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        border: none;
        border-bottom: v.$borderSolid;
        margin: 0;
        min-width: 0;
        gap: 0.4rem;

        &--borderless {
            padding-bottom: 0;
            border: none;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        &--toggle {
            margin-top: 0.8rem;
        }
    }

    &__selection {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;

        &--spaced {
            margin-bottom: 0.8rem;
        }

        &--nested {
            gap: 0.4rem;
            margin-left: 2rem;
        }
    }

    &__headline {
        letter-spacing: 0.02rem;
        margin-bottom: 0.8rem;
    }

    &__textarea {
        @include v.textArea(4rem);
    }

    &__select {
        resize: none;
        outline: none;
        width: 8rem;
        height: 2.5rem;
        border: v.$borderSolid;
        border-radius: 5px;
        padding: 0.5rem;
        
        &:hover {
            border: c.$gray 1px solid;
        }

        &:focus {
            background-color: c.$white-active;
        }
    }

    &__paragraph {
        line-height: 1.5;
        margin-bottom: 0.8rem;
    }

    &__label--headline {
        font-family: f.$kumbh-sans;
    }

    &__input--number {
        @include v.inputArea(4.4rem);
    }

    &__input--wide {
        @include v.inputArea(12rem);
    }

    &__checkbox, &__radio {
        transform: scale(1.5); 
        // uh look at this later
        border-width: 1px;
        border: v.$borderSolid;
    }

    &__button {
        &--delete {
            // add soomething here I guess
            color: black;
        }
    }

    &__fieldset {
        border: none;
        padding: 0;
        margin: 0;
        min-width: 0;
        display: flex;
        gap: 0.4rem;
        flex-direction: column;
    }

    &__date_select {
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        gap: 0.4rem;
    }
}

