@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;

@mixin sidebar-slab {
    height: 2.4rem;
    border-radius: 10px;
    border: solid  c.$gray 1px;
    background-color: transparent;
    box-shadow: 0 2px 1px 1px rgba(50, 50, 93, 0.25);
    margin-bottom: 0.8rem;
  }

.sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0 0 20%;
    width: clamp(14rem, 10rem + 8vw, 20rem);
    min-height: calc(100vh - 4rem);
    max-height: 100%;
    border-right: v.$borderSolid;

    &__top {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding: 0 calc((100% - clamp(10rem, 7rem + 8vw, 15rem)) / 2);
    }

    &__return, &__button {
        text-align: left;
    }

    &__return {
        position: relative;
        width: 100%;
        padding: 1.2rem 2rem;
        margin: 0.5rem 0;
        background-color: transparent;
        border: none;

        &:hover {
            background-color: c.$white-active;
        }
    }

    &__arrow {
        height: 0.6rem;
        width: 0.6rem;
        margin-right: 0.4rem;
    }

    &__button {
        @include sidebar-slab();
        width: 100%;
        padding-left: 1rem;
        cursor: pointer;

        &:hover {
            background-color: c.$white-active;
        }

        &--active {
            background-color: c.$blue-sidebar !important;
        }
    }
}

.question {
    width: 100%;
    padding-bottom: 1.4rem;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 1.2rem calc((100% - clamp(10rem, 7rem + 8vw, 14rem)) / 2);
        cursor: pointer;
    }

    &__add {
        border: none;
        background-color: transparent;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 1;
        }

        &:disabled {
            opacity: 0.6;
        }
    }

    &__duplicate {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__plus {
        width: 1.4rem;
        height: 1.4rem;
    }

    &__list {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 0 calc((100% - clamp(10rem, 7rem + 8vw, 15rem)) / 2);
        text-decoration: none;
    }

    &__item {
        position: relative;
        display: inline-flex;
        margin-bottom: 0.5rem;
        width: 100%;
        @include sidebar-slab;

        &:hover {
            background-color: c.$white-active;
        }
    }
    
    &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    &__button {
        height: 100%;
        background-color: transparent;
        border: none;
        margin-bottom: 0;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        gap: 2px;
        padding: 0 1rem;
        flex: 1 0 50%;
        width: calc(100% - 2rem);
        cursor: pointer;
    }

    &__drag {
        flex: 0 0 1.5rem;
        align-items: center;
        display: flex;
        cursor: grab;

    }

    &__svg {
        height: 1.6rem;
    }

    &__duplicate {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}