@use '../variables/colors' as c;
@use '../variables/fonts' as f;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: f.$lato;
	color: c.$black;
}

.hide {
	display: none;
}

.font {
	&-heavy {
		font-weight: 800;
	}

	&-semi {
		font-weight: 600;
	}

	&-medium {
		font-weight: 500;
	}

	&-light {
		font-weight: 300;
	}

	&-h1 {
		font-size: clamp(2rem, 1.6781rem + 1.3734vw, 3rem);
		font-family: f.$kumbh-sans;
	}

	&-h2 {
		font-size: clamp(1.75rem, 1.5086rem + 1.03vw, 2.5rem);
		font-family: f.$kumbh-sans;
	}

	&-h3 {
		font-size: clamp(1.5rem, 1.2586rem + 1.03vw, 2.25rem);
		font-family: f.$kumbh-sans;
	}

	&-h4 {
		font-size: clamp(1.25rem, 1.0891rem + 0.6867vw, 1.75rem);
		font-family: f.$kumbh-sans;
	}

	&-h5 {
		font-size: clamp(1.125rem, 1.0043rem + 0.515vw, 1.5rem);
		font-family: f.$kumbh-sans;
	}

	&-h6 {
		font-size: clamp(1.063rem, 1.0028rem + 0.2568vw, 1.25rem);
		font-family: f.$kumbh-sans;
	}

	&-large {
		font-size: clamp(0.8909rem, 0.7809rem + 0.5215vw, 1.1441rem);
		line-height: clamp(1.2713rem, 1.1095rem + 0.1944vw, 1.3994rem);
	}

	&-normal {
		font-size: clamp(0.7875rem, 0.6900rem + 0.4624vw, 1.0125rem);
		line-height: clamp(1.125rem, 0.9801rem + 0.1717vw, 1.2375rem);
	}

	&-small {
		font-size: clamp(0.619rem, 0.4974rem + 0.5194vw, 0.9rem);
	}
}