@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;

.container {
    display: flex;
}

.main {
    display: flex;
    flex: 1 0 50%;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;

    &__headline {
        flex: 1 0 100%;
    }

    &__grid {
        box-sizing: border-box;
        flex: 1 0 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
        grid-auto-rows: auto;
    }
}

.aside {
    // let it reach the bottom of the size using the full view height - height of header
    min-height: calc(100vh - 4rem);
    height: 100%;
    border-right: v.$borderSolid;

    &__container {
        display: flex;
        flex-flow: column;
        justify-content: center;

        &--small {
            border-top: v.$borderSolid;
        }

        &:first-child {
            padding-bottom: 1rem;
        }

        &:last-child {
            padding-top: 1rem;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        width: clamp(14rem, calc(10rem + 6vw), 18rem);
        padding: 1.2rem 2rem;
        background-color: transparent;
        border: none;

        &:hover {
            background-color: c.$white-active;
        }
    }
}