.container{
    display: flex;
}

.main{
    display: flex;
    flex: 1 0 50%;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;

    &__headline{
        flex: 1 0 100%;
    }
    &__grid{
        box-sizing: border-box;
        flex: 1 0 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
        grid-auto-rows: auto;
    }
}

.aside {
    flex: 0 0 15%;
    &__container {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}