@use '../../variables/_colors.scss' as c;

.study {
    &__plus {
        height: 1.4rem;
        width: 1.4rem;
    }

    &__new {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    &__filter {
        display: flex;
        align-items: center;
    }

    &__new, &__filter {
        width: clamp(14rem, calc(10rem + 6vw), 18rem);
        padding: 0.8rem 2rem;
        background-color: transparent;
        border: none;

        &:hover {
            background: c.$white-active;
        }
    }
}