@use '../../variables/_colors.scss' as c;
@use '../../variables/variables' as v;

.demographic {
    &__container {
        @include v.main-area;
    }

    &__main {
        width: v.$mainAreaWidth;
    }

    &__headline {
        &::after {
            content: '';
            border-bottom: v.$borderSolid;
            width: 100%;
            // width: clamp(20rem, -4rem + 48vw, 50rem);
            display: block;
            margin-top: 0.8rem;
        }

        &--margin {
            margin-bottom: 1.4rem;
        }
    }

    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
        margin: 1.4rem 0;

        &--remove {
            margin-top: 0;
        }
    }

    &__more {
        position: absolute;
        display: inline-flex;
        border: none;
        background: transparent;
        right: -1rem;
    }

    &__svg {
        height: 1.6rem;
        cursor: pointer;
        fill: rgb(131, 130, 130);
    }

    &__button {
        padding: 0.5rem 1rem;
        width: 10rem;
        border-radius: 0.5rem;
        cursor: pointer;
        border: c.$bluePrimary 2px solid;
        background-color: transparent;
        color: c.$bluePrimary;
        margin-top: 0.8rem;

        &:hover {
            border: c.$bluePrimary-hover 2px solid;
            color: c.$bluePrimary-hover;
            transition: border 0.1s ease-in-out, color 0.1s ease-in-out, background-color 0.1s ease-in-out;
        }
      
        &:active {
            border: c.$bluePrimary-active 2px solid;
            color: c.$bluePrimary-active;
        }
    }

    &__slider {
        position: relative;
        display: inline-block;
        width: 2.8rem;
        height: 1.4rem;
        background: c.$gray;
        border-radius: 1rem;
        cursor: pointer;
        padding: 0 0.1rem; 
        transition: background 0.3s;

        &:has(.demographic__checkbox:checked) {
            background: c.$lightBlue;
        }  
    }
    
    // cannot display: none if you want animations
    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }
    
    &__thumbnail {
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        background: c.$white-active;
        border-radius: 50%;
        transition: transform 0.4s, background 0.3s;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
        }

        &--active {
            transform: translate(1.4rem, -50%);
            background: c.$bluePrimary;
        }
    }
}    

.aside-temp {
	@include v.right-area;
    visibility: hidden;
}