$bluePrimary: #6062D6;
$blueSecondary: #4C68F0;
$cyan: #54C0D1;
$lightBlue: #CECEF3;

$bluePrimary-hover: #6D6ED6;
$blueSecondary-hover: #576FE4;
$lightBlue-hover: #6BC4D2;

$bluePrimary-active: #5355C2;
$blueSecondary-active: #4059D1;
$cyan-active: #48AEBE;

$black: #202020;
$gray: #A4A4A4;
$lightGray: #CCCCCC;
$white: #FFFEFA;
$white-active: #F6F6F6;

$lightRed: #f8cece;
$red: #E61046;
$lightGreen: #d1e9da;
$green: #219F5A;
$lightYellow: #F4B576;
$yellow: #E38E39;
$lighTeal: #A5DDDD;
$teal: #47B5B0;