@use "../../variables/variables" as v;
@use "../../variables/colors" as c;

.select {
    &__cont {
        gap: 0.6rem;
        display: flex;
        flex-direction: column;    
    }

    &__row {
        display: flex;
        justify-content: flex-end;
        gap: 0.6rem;
        align-items: center;
    }

    &__input {
        @include v.inputArea(6.6rem);
    }

    &__number {
        border: none;
        border-bottom: v.$borderSolid;
        outline: none;
        width: 2.4rem;
        text-align: center;
    }

    &__hide {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0.2s;
    }
}