@use '../../variables/colors' as c;
@use '../../variables/fonts' as f;

*{
    margin: 20px;
}

.font-h3{
    font-size: clamp(1.5rem, 1.2586rem + 1.03vw, 2.25rem);
    font-family: f.$kumbh-sans;
    color: c.$bluePrimary;
  }

.error{
    &-page{
        text-align: center;
        padding: 50px;
    }
    &-h1{
        font-size: 3rem;
        color: c.$black;
    }
    &-p{
        font-size: 1.2rem;
    }
    &-link{
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
        margin: 20px;
        &:hover{
            cursor: pointer;
            background-color: c.$lightBlue;
        }
    }
}